# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Environment Variables (Chỉ cấu hình trên Render/Cloud)
.env

# Logs
logs/
*.log

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
